.page {
    background: #2A2C2F;
}

@media (min-width: 320px) and (max-width: 424px) {
    .page {
        width: 100%;
        max-width: 320px;
        min-height: 9617px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .page {
        width: 100%;
        min-height: 6850px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .page {
        width: 100%;
        min-height: 6898px;
        margin: 0;
    }

}