.intro__list {
    height: 58px;
    width: auto;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    padding: 0;
}

@media (min-width: 320px) and (max-width: 424px) {
    .intro__list {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
    }
}