.lead__image {
    object-fit: scale-down;
    object-position: top;
    width: 100%;
    max-width: 984px;
    height: auto;
    margin-left: 111px;
    margin-right: 185px;
    margin-bottom: 8px;
    margin-top: 64px;
}

@media only screen and (max-width: 360px) {
    .lead__image {
        width: 100%;
        min-height: 200px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .lead__image {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        margin-right: 0;
        margin-left: 0;
    }
}