.intro__text {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
}

@media (min-width: 320px) and (max-width: 424px) {
    .intro__text {
        left: 16px;
        margin-top: 40px;
    }
}


