.place__paragraph {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 360px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .place__paragraph {
        width: 100%;
        max-width: 352px;
        height: auto;
    }
}

@media only screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        height: auto;
    }
}