.place__webside {
    grid-row-start: 1;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: auto;
}




@media (min-width: 320px) and (max-width: 424px) {
    .place__webside {
        display: none;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .place__webside {
        max-width: 370px;
        min-height: 46px;
        padding-bottom: 0;
    }
}
